@page
@{
    ViewData["Title"] = "Home Page";
}
<h1>With Razor Pages</h1>
<div class="row">
    <ul>
        <li><a asp-page="/Ninjas/Index">Manage Ninjas</a></li>
        <li><a asp-page="/Plants/Index">Manage Plants</a></li>
        <li><a asp-page="/Pirates/Index">Manage Pirates</a></li>
        <li><a asp-page="/Zombies/Index">Manage Zombies</a></li>
    </ul>
</div>
