@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <ul>
        <li><a asp-controller="Ninjas" asp-action="Index">Manage Ninjas</a></li>
        <li><a asp-controller="Plants" asp-action="Index">Manage Plants</a></li>
        <li><a asp-controller="Pirates" asp-action="Index">Manage Pirates</a></li>
        <li><a asp-controller="Zombies" asp-action="Index">Manage Zombies</a></li>
    </ul>
</div>
