@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model WithAreas.Core.Model.Pirate
<h2>@Model.Name</h2>
<div>
    Id: @Model.Id
</div>
<div>
    <a asp-controller="Pirates" asp-action="Index">Pirate List</a>
</div>