@page
@model IndexModel
@{
    ViewBag.ItemName = "Ninja";
    ViewBag.ItemNames = ViewBag.ItemName + "s";
}

<h2>@ViewBag.ItemNames</h2>

<ul>
    @foreach (var item in Model.Ninjas)
    {
        <li><a asp-page="Details" asp-route-id="@item.Id">@item</a></li>
    }
</ul>
<a asp-page-handler="Add">Add @ViewBag.ItemName</a><br />
<a asp-page="Swords/Index">Ninja Swords List</a>

