@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model WithFeatureFolders.Features.Samurai.Samurai.NinjaViewModel
<h2>@Model.Name</h2>
<div>
    Id: @Model.Id
</div>
<div>
    <a asp-controller="Samurai" asp-action="Index">Samurai List</a>
</div>