@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model WithAreas.Areas.Ninjas.ViewModels.NinjaViewModel
<h2>@Model.Name</h2>
<div>
    Id: @Model.Id
</div>
<div>
    <a asp-controller="Ninjas" asp-action="Index">Ninja List</a>
</div>